<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.dao.mapper.UserMapper">
    <!-- 根据文章id取得Tags-->
    <select id="getUserById" parameterType="long" resultType="com.demo.dao.pojo.User">
        select id,username,password,nickname,avatar,email,status,create_date as creatDate from user
        where id=#{userId}

    </select>

</mapper>